.services{
    /* padding: 0 6rem 0 6rem; */
    display: flex;
    flex-direction: row;
    /* height: 90vh; */
    margin-top: 10rem;
}

.awesome{
    display: flex;
    flex-direction: column;
    position: relative;
    /* gap: 1rem; */
}

.awesome>:nth-child(1){
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--black);
}

.awesome>:nth-child(2){
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--orange);
}
.awesome>:nth-child(3){
    font-size: 1rem;
    font-weight: normal;
    color: var(--gray);
    margin-top: 1rem;   
}

.cards{
    position: relative;
    flex: 1;
}

.cards>*{
    position: absolute;
}



.s-button{
    width: 8rem;
    height: 2rem;
    margin-top: 2rem;
}

.s-blur1{
    left: -18rem;
    top: 13rem;
}

.s-blur2{
    left: 14rem;
    top: 8rem;
}

@media screen and (max-width: 768px) {
    .services{
        margin-top: 20rem;
        padding: 0;
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
        /* gap: 5rem; */
        /* height: 74rem; */
        position: relative;
    }
    .awesome{
        flex: 1;
        margin-top: 10rem;
        position: absolute;
    }
    .cards{
        position: absolute;
        display: flex;
        float: 1;
        flex-direction: column;
        margin-top: 26rem;
        /* width: 400px; */
    }
   .cards >*{
    position: absolute;
    width: auto;
    justify-content: center;
    align-items: center;
    /* margin-left: -8.5rem; */
    /* position: static; */
   }

   .motion-div{
    /* position: static; */
    width: auto;
   }

   .motion-div:nth-of-type(1){
    width: auto;
    margin-left: -5rem;
   }

   .motion-div:nth-of-type(2){
    margin-top: 2rem; 
    width: auto;
   }    
   
   .motion-div:nth-of-type(3){
    margin-top: 24rem;
    width: auto;
    margin-left: -7.5rem; 
   }       
}
