.works{
    /* padding: 0 3rem 0 3rem; */
    display: flex;
    flex-direction: row;
    height: 200vh;
    /* gap: 3rem; */
    margin-top: 9rem;
}

.w-left{
    flex: 1;
}

.w-right{
    flex: 1;
    position: relative;
}

.w-mainCircle{
    left: 9rem;
    position: relative;
    width: 18rem;
    height: 18rem;
    border-radius: 100%;
    box-shadow: var(--smboxShadow);
    background: white;
    top: 2rem;
    z-index: 1;
}

.w-mainCircle>*{
    position: absolute;
}

.w-mainCircle>:nth-child(1){
    top: -3rem;
    left: 6rem;
}

.w-mainCircle>:nth-child(2){
    top: 5rem;
    left: -3rem;
}

.w-mainCircle>:nth-child(3){
    top: 5rem;
    left: 6rem;
}

.w-mainCircle>:nth-child(4){
    top: 5rem;
    left: 15rem;
}

.w-mainCircle>:nth-child(5){
    top: 13rem;
    left: 6rem;
}

.w-secCircle{
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
    position: absolute;
    border: 5px solid #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    box-shadow: var(--smboxShadow);
}

.w-secCircle>img{
    transform: scale(0.6);
}

.w-backCircle{
    position: absolute;
    height: 13rem;
    width: 13rem;
    border-radius: 100%;
    z-index: -1;
}

.blueCircle{
    background-color: #194988;
    left: 18rem;
    top: 0rem;
}

.yellowCircle{
    background: #f5c32c;
    left: 18rem;
    top: 8rem;
}

@media screen and (max-width: 480px) {
    .works{
        flex-direction: column;
        gap: 3rem;
        padding: 0;
        height: 50rem;
    }

    .w-right{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        transform: scale(0.7);
        /* right: 6rem; */
    }

    .w-mainCircle{
        position: static;
    }

    .w-backCircle{
        left: 8rem;
    }
    
}