.intro{
    display: flex;
    flex-direction: row;
    /* height: 77vh; */
    margin-top: 6rem;
    justify-content: space-between;
    /* position: relative; */   
}

.i-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.i-name{
    display: flex;
    flex-direction: column;
}

.i-name > :nth-child(1){
    color: var(--black);
    font-size: 3rem;
    font-weight: bold;
}

.i-name>:nth-child(2){
    color: var(--orange);
    font-weight: bold;
    font-size: 3rem;
}

.i-name>:nth-child(3){
    color: var(--gray);
    font-size: 16px;
    font-weight: 100;
    margin-top: 8px;
}

.i-button{
    width: 6rem;
    height: 2rem;
}

.i-icons{
    display: flex;
    gap: 0;
    margin-top: 3rem;
}

.i-icons>*{
    transform: scale(0.5);
}

.i-icons>*:hover{
    cursor: pointer;
}

.i-right{
    flex: 1;
    position: relative;
}

.i-right>*{
    position: absolute;
    z-index: 1;
}

.i-right>:nth-child(1){
    transform: scale(0.72);
    left: -10%;
    top: -7%;
}

.i-right>:nth-child(2){
    transform: scale(0.70);
    left: -3rem;
    top: -4.8rem;
}

.i-right>:nth-child(3){
    transform: scale(0.9);
    left: 18%;
    top: -10%;
}

.i-right>:nth-child(4){
    transform: scale(0.6);
    left: -16%;
    top: -19%;
    border-radius: 50%;
    padding: 0;
}

.blur{
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    /*filter: blur(212px);*/
    z-index: -9;
    top: -18%;
    left: 56%;
    filter: blur(72px);
}


@media screen and (max-width: 768px){
    .intro{
        display: flex;
        flex-direction: column;
        /* height: 54rem; */
        gap: 0rem;
        margin-top: 3rem;
    }

    .i-right{
        transform: scale(0.7);
        /* left: 5rem; */
        top: 1.5rem;
        left: -5rem;
        justify-content: center;
        align-items: center;
    }

    .i-icons{
        display: flex;
        gap: 0;
        margin-top: 0rem;
    }
    
    .i-right .blur{
        display: none;
    }

    .floating-div:nth-of-type(1){
        top: 18rem!important;
        width: 12rem;
        left: 17rem!important;
    }
    .floating-div:nth-of-type(2){
        top: 18rem!important;
        left: 5.5rem!important;
        width: 10rem;
    }
}
